.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 220px;
       
}

.ajusteHeader{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.aHeader{
    padding: 5px;
}

.title{
    margin: 5px;
}
