.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ajusteHeader{
    padding: 5px;
    margin: 5px;
    border: 5px;
}

.aHeader{
    padding: 5px;
    margin: 5px;
    border: 5px;
}