.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    /* border-radius: 4px; */
    border-bottom: 1px solid #ffe98546;
       
}

.ajusteHeaderIzq{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 70px;
    padding-left: 10px;
}

.ajusteHeaderDer{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
    padding-right: 10px;
}

.aHeader{
    padding: 10px;
    font-size: 15px;
}

.title{
    margin: 5px;
    font-size: 35px;
}
.access{
    padding: 10px;
    font-size: 20px;
}